<div class="container">
    <h2>기록된 질문들</h2>
    <% @every_post.each do |p|%> 
        <div class="well">
        <%= p.content %>
            <a href="/update_view/<%=p.id%>">[수정]</a>
            <a href="/destroy/<%=p.id%>">[삭제]</a>
        </div>
    <%end%>
    <p><a href="/">익명질문하러가기</a></p>
</div>
